.row
  .col-md-3.col-lg-2
    = render partial: 'sidebar'
    = render partial: 'filter'
  .col-md-9.col-lg-10
    .row
      .col-md-5.col-md-push-7
        = text_field_tag 'search', nil, placeholder: 'Search...', class: 'form-control input-sm', id: 'message_filter'
      .col-md-5.col-md-pull-5
        .btn-group.btn-group-sm
          = button_tag 'Reply', type: 'button', class: 'btn btn-default'
          = button_tag 'Spam', type: 'button', class: 'btn btn-default'
          = button_tag 'Delete', type: 'button', class: 'btn btn-default text-danger'
    %hr
    %table.table.table-yuk2.bg-fill.toggle-arrow-tiny#mailbox_table{ 'data-page-size': '20', 'data-filter': '#message_filter' }
      %thead
        %tr
          <th class="cw footable_toggler"></th>
          <th class="cw"><input type="checkbox" id="msgSelectAll"></th>
          <th class="cw"></th>
          <th data-hide="phone,tablet">From</th>
          <th>Subject</th>
          <th data-hide="phone">Date</th>
      %tbody
        = render @messages
      %tfoot.hide-if-no-paging
        %tr
          %td{ colspan: '6' }
            <ul class="pagination pagination-sm"></ul>
