.row
  .col-md-3.col-lg-2
    = render partial: 'sidebar'
  .col-md-9.col-lg-10
    .row.hidden-print
      .col-md-4
        .btn-group.btn-group-sm
          = button_tag 'Reply', type: 'button', class: 'btn btn-default'
          = button_tag 'Spam', type: 'button', class: 'btn btn-default'
          = button_tag 'Delete', type: 'button', class: 'btn btn-default text-danger'
      .col-md-4.col-md-offset-4.text-right
        .btn-group.btn-group-sm
          <button type="button" class="btn btn-default bs_ttip" data-placement="bottom" title="Prev"><i class="fa fa-chevron-left"></i></button>
          <button type="button" class="btn btn-default bs_ttip" data-placement="bottom" title="Next"><i class="fa fa-chevron-right"></i></button>
    %hr.hidden-print
    .mail_details_top.clearfix
      .mail_date
        = l @message.originated_at, format: :short
      .mail_user_image
        = gravatar_image_tag(@message.from, :alt => 'Smartsearch', :gravatar => { :size => 38 })
      .mail_user_info
        <h2>Kathleen Schiller</h2>
        <span class="text-muted">#{@message.from}</span>
    .mail_details_content
      != @message.body
    .mail_details_send.hidden-print
      <textarea name="mail_reply" id="mail_reply" cols="30" rows="3" class="form-control textarea_auto" placeholder="Start typing here to replay or forward..."></textarea>
