.row
  .col-md-3.col-lg-2
    = render partial: 'sidebar'
  .col-md-9.col-lg-10
    .row.hidden-print
      .col-md-4
        .btn-group.btn-group-sm
          = button_tag 'Reply', type: 'button', class: 'btn btn-default'
          = button_tag 'Spam', type: 'button', class: 'btn btn-default'
          = link_to 'Destroy',  @message,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default text-danger'
      .col-md-4.col-md-offset-4.text-right
        .btn-group.btn-group-sm
          <button type="button" class="btn btn-default bs_ttip" data-placement="bottom" title="Prev"><i class="fa fa-chevron-left"></i></button>
          <button type="button" class="btn btn-default bs_ttip" data-placement="bottom" title="Next"><i class="fa fa-chevron-right"></i></button>
    %hr.hidden-print
    .mail_details_top.clearfix
      .mail_date
        = l @message.originated_at, format: :short
      .mail_user_image
        = gravatar_image_tag(@message.from, :alt => 'Smartsearch', :gravatar => { :size => 38 })
      .mail_user_info
        %h2= @message.contact.full_name
        %span.text-muted= link_to (@message.company.nil? ? 'Add company' : @message.company.name), '#', class: 'editable', id: 'company_id', 'data-type': 'select', 'data-pk': @message.slug, 'data-value': @message.company_id, 'data-source': '/companies'
    .mail_details_content
      - @messages.each_with_index do |message, i|
        - if i > 0
          %hr
        .mail-header-collapse
          <a class="small pull-right" data-toggle="collapse" href="#collapse-#{message.id}" aria-expanded="false" aria-controls="collapseExample">Message Details <i class="fa fa-caret-down"></i></a>
        .collapse{ id: "collapse-#{message.id}" }
          %p.mail-header
            %strong To:
            = message.to
          %p.mail-header
            %strong From:
            = message.from
          %p.mail-header
            %strong Subject:
            = message.subject
          %p.mail-header
            %strong Origin:
            = l message.originated_at, format: :long
          %hr
        - if i > 0
          .text-muted
            != message.body
        - else
          != message.body
    .mail_details_send.hidden-print
      = form_tag response_message_path, id: 'message_respond' do
        = text_field_tag :message_id, @message.slug, type: :hidden
        <textarea name="message[body]" id="message_body" cols="30" rows="3" class="form-control" placeholder="Start typing here to replay or forward..."></textarea>
        %br
        = button_tag 'Reply', type: 'submit', class: 'btn btn-primary'
