= simple_form_for(@company, html: { class: 'form-horizontal', role: 'form' }) do |f|
  = f.error_notification
  %h3.heading_a
    %span.heading_text General info
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      -#Should be able to use: @current_user.companies?
      = f.input_field :name, class: 'form-control'
  .form-group
    = f.label :contact_id, 'Primary Contact', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :contact_id, collection: @current_user.contacts.map{|c|["#{c.full_name} <#{c.email}>", c.id]}, include_blank: false, prompt: '-- Select Primary Contact --', class: 'form-control'
  .form-group
    = f.label :rating, class: 'col-sm-2 control-label'
    .col-sm-10
      != f.input_field :rating, collection: [['★★★★★ Excellent',5],['★★★★☆ Good',4],['★★★☆☆ Okay',3],['★★☆☆☆ Poor',2],['★☆☆☆☆ Awful',1]], prompt: '-- Select Rating --', class: 'form-control'
  %h3.heading_a
    %span.heading_text Contact info
  .form-group
    = f.label :address, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.input_field :address, class: 'form-control'
  .form-group
    = f.label :website_url, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.phone_field :website_url, class: 'form-control', placeholder: 'http://domain.com'
  .form-group
    = f.label :linkedin_url, 'Linkedin URL', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.url_field :linkedin_url, class: 'form-control', placeholder: 'http://linkedin.com/company/company-name'
  %hr
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', @company, class: 'btn btn-default'
