.row
  .col-md-12
    .row
      .col-sm-4.col-md-3.pull-right.text-right
        = link_to 'Create Company', new_company_path, class: 'btn btn-primary'
    .row
      .col-sm-4.col-md-3
        = select_tag 'contactList_filter', options_for_select(@current_user.companies.map{|c|[c.name,c.name]}), prompt: '-- Select Company --', id: 'contactList_filter', class: 'form-control input-sm'
      .col-sm-4.col-md-3
        = select_tag 'contactList_sort', options_for_select([['Name','name'],['Name (desc)','name_desc'],['Address','address'],['Address (desc)','address_desc'],['Rank','rank'],['Rank (desc)','rank_desc']]), prompt: '-- Sort by --', id: 'contactList_sort', class: 'form-control input-sm'
      .col-sm-4.col-md-3
        = text_field_tag 'contactList_search', nil, id: 'contactList_search', class: 'form-control input-sm', placeholder: 'Find company...'
    %hr
    %ul.contact_list
      = render @companies
