!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Smartsearch'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Smartsearch'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print', media: 'print'
    = stylesheet_link_tag(params[:controller], :media => 'all') if Smartsearch::Application.assets.find_asset("#{controller.controller_name}.css")
    = csrf_meta_tags
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    = javascript_include_tag 'application/moment-with-langs.min'
    = javascript_include_tag '//www.google.com/jsapi', 'chartkick'
  %body.side_menu_active.side_menu_expanded
    #page_wrapper
      %header#main_header
        .container-fluid
          .brand_section
            = link_to '/' do
              = image_tag 'application-logo.png', height: 26, width: 63, alt: 'Site logo'
          %ul.header_notifications.clearfix
            %li.dropdown
              %span.label.label-danger= @unread_counts[:inbox]
              <a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-envelope"></i></a>
              .dropdown-menu
                %ul
                  %li
                    = gravatar_image_tag('contact@smartsearch.email', :alt => 'Smartsearch', :gravatar => { :size => 38 })
                    <p><a href="#">Lorem ipsum dolor sit amet&hellip;</a></p>
                    %small.text-muted 14.07.2014
                  %li
                    <a href="#" class="btn btn-xs btn-primary btn-block">All messages</a>
            %li
              <a href="#" data-toggle="modal" data-target="#modal-fullscreen"><i class="fa fa-edit"></i></a>
          .header_user_actions.dropdown
            .dropdown-toggle.user_dropdown{ 'data-toggle': 'dropdown' }
              .user_avatar
                = gravatar_image_tag('contact@smartsearch.email', :alt => 'Smartsearch', :gravatar => { :size => 38 })
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to 'User Profile', edit_user_registration_path
              %li= link_to 'Log Out', destroy_user_session_path
          .current_email.hidden-sm.hidden-xs
            #{@current_user.nickname}@smartsearch.email

      %nav#breadcrumbs
        %ul
          %li
            <a href="dashboard.html">Home</a>

      #main_wrapper
        .container-fluid
          = render 'layouts/messages'
          = yield

      %nav#main_menu
        .menu_wrapper
          %ul
            %li.first_level
              <a href="/dashboard"><span class="first_level_icon"><i class="fa fa-home"></i></span><span class="menu-title">Dashboard</span></a>
            %li.first_level
              <a href="/messages"><span class="first_level_icon"><i class="fa fa-envelope-o"></i></span><span class="menu-title">Messages</span></a>
            %li.first_level
              <a href="/companies"><span class="first_level_icon"><i class="fa fa-building"></i></span><span class="menu-title">Companies</span></a>
            %li.first_level
              <a href="/contacts"><span class="first_level_icon"><i class="fa fa-users"></i></span><span class="menu-title">Contacts</span></a>
            %li.first_level
              <a href="/calendar"><span class="first_level_icon"><i class="fa fa-calendar-o"></i></span><span class="menu-title">Calendar</span></a>
        .menu_toggle
          <span class="icon_menu_toggle"><i class="fa fa-angle-double-left toggle_left"></i><i class="fa fa-angle-double-right toggle_right" style="display:none"></i></span>

  .modal.modal-fullscreen.fade#modal-fullscreen{ tabindex: '-1', role: 'dialog', 'aria-labelledby': 'myModalLabel', 'aria-hidden': 'true' }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss': 'modal' }
            %span{ 'aria-hidden': 'true' } &times;
            %span.sr-only Close
          %h4.modal-title
            = text_field_tag :name, nil, placeholder: 'New Note'
        .modal-body
          = text_area_tag :body, nil
        .modal-footer
          %button.btn.btn-default{ type: 'button', 'data-dismiss': 'modal' } Close
          %button.btn.btn-primary{ type: 'submit' } Save

    = javascript_include_tag 'application'
    = javascript_include_tag(params[:controller]) if Smartsearch::Application.assets.find_asset("#{controller.controller_name}.js")
